name: Train ML Model

on:
  push:
    branches: ["main"]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn numpy

      # =========================
      # RUN MLFLOW PROJECT
      # =========================
      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      # =========================
      # BUILD DOCKER IMAGE (FIX)
      # =========================
      - name: Build Docker Image with MLflow
        run: |
          cd MLProject
          RUN_ID=$(mlflow runs list --experiment-id 0 --output-format csv | tail -n 1 | cut -d',' -f1)
          echo "Using RUN_ID=$RUN_ID"

          mlflow models build-docker \
            -m runs:/$RUN_ID/model \
            -n ${{ secrets.DOCKER_USERNAME }}/loan-approval-ci

      # =========================
      # LOGIN DOCKER HUB
      # =========================
      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      # =========================
      # PUSH IMAGE
      # =========================
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/loan-approval-ci
