name: Train ML Model

on:
  push:
    branches: ["main"]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn numpy

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      # =========================
      # ADVANCED (WAJIB)
      # =========================

      - name: Build Docker Image with MLflow
        run: |
          cd MLProject
          mlflow build-docker \
            -n ${{ secrets.DOCKER_USERNAME }}/loan-approval-ci \
            .

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/loan-approval-ci
