name: Train ML Model

on:
  push:
    branches: ["main"]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      # =========================
      # CHECKOUT CODE
      # =========================
      - name: Checkout repo
        uses: actions/checkout@v3

      # =========================
      # SETUP PYTHON
      # =========================
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # =========================
      # INSTALL DEPENDENCIES
      # =========================
      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn numpy

      # =========================
      # RUN MLFLOW PROJECT
      # =========================
      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      # =========================
      # BUILD DOCKER IMAGE (FINAL FIX)
      # =========================
      - name: Build Docker Image with MLflow
        run: |
          cd MLProject

          # Ambil RUN_ID terbaru secara BENAR
          RUN_ID=$(ls -td mlruns/0/* | head -n 1 | xargs basename)
          echo "Using RUN_ID=$RUN_ID"

          # Debug: pastikan model ada
          ls mlruns/0/$RUN_ID/artifacts

          # Build Docker dari MLflow Model
          mlflow models build-docker \
            -m runs:/$RUN_ID/model \
            -n ${{ secrets.DOCKER_USERNAME }}/loan-approval-ci

      # =========================
      # LOGIN DOCKER HUB
      # =========================
      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      # =========================
      # PUSH IMAGE
      # =========================
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/loan-approval-ci
